__pycache__/
*.py[cod]
*$py.class

delinquencyenv/
venv/
*.env

.ipynb_checkpoints/

.pytest_cache/
.coverage
htmlcov/

.vscode/
.idea/
*.swp
*.swo

logs/
*.log

.DS_Store
Thumbs.db

.feature_store/
__pycache__/feast_repo/